{
 :paths ["src"]
 :deps {
        org.clojure/clojure {:mvn/version "1.12.1"}
        org.clojure/data.csv {:mvn/version "1.1.0"}
        ; neanderthal dependency
        org.bytedeco/mkl$linux-x86_64-redist {:mvn/version "2024.0-1.5.10"}
        uncomplicate/neanderthal {:mvn/version "0.52.0"}
        }
 :aliases {
           :repl/conjure
           {:extra-deps {nrepl/nrepl       {:mvn/version "1.0.0"}
                         cider/cider-nrepl {:mvn/version "0.42.1"}}
            :main-opts  ["--main" "nrepl.cmdline"
                         "--middleware" "[cider.nrepl/cider-middleware]"
                         "--interactive"]}
           :test
           {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
            :main-opts ["-m" "kaocha.runner"]}
           ;; Run with clj -T:build function-in-build
           :build
           {:deps {io.github.clojure/tools.build
                   {:git/tag "v0.10.9" :git/sha "e405aac"}}
            :ns-default build}
           }
 }
